<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Sign Up Form</title>
</head>
<body>
    <form action="#" class="sign-up-form" method="post">
    {% csrf_token %}
        <h2 class="title">Sign Up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" name="firstname" placeholder="First Name" Required/>
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="text" name="lastname" placeholder="Last Name" Required/>
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="text" name="username" placeholder="Username" Required/>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" placeholder="Password" Required/>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" name="confirmpassword" placeholder="Confirm Password" Required/>
        </div>
        <input type="submit" class="btn" value="Sign Up" />
    </form>
</body>
</html>